body {
    font-family: 'Playfair Display', serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

section {
  border-top: #000 solid 1px;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(fonts/PlayfairDisplay.ttf) format('truetype');
}

.heading {
  background-image: url("images/NewYork.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 700px;
  width: 100%;
  user-select: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #faf0e6;;
    color: #000;
    width: 100%;
    top: 0px;
  }

.navBar a:active {
  color: #000;
}

.navBar a:visited {
  color: #000;
}

.navBar a:hover {
  color: #fff;
}
  
.homeLink a {
  text-decoration: none;
  font-size: 40px;
  margin-left: 50px;
  display: absolute;
}

.navLink a {
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  font-weight: bold;
  font-size: 30px;
}

.titleWords {
  text-align: center;
}

.title p {
  font-size: 200px;
  font-weight: bold;
  color: #fff;
  margin: 10px;
}

.question p {
  color: #faf0e6;
  font-size: 30px;
  position: relative;
  bottom: 30px;
}

.banner {
  margin: 0;
  height: 30px;
  width: 100%;
}

.bannerBar {
  overflow: hidden;
  white-space: nowrap;
  background-color: #000;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
}

#bannerText {
  color: #faf0e6;
  width: 100%;
  justify-content: center;
  clear: both;
  word-spacing: 20px;
}

#resume {
  background-color: #faf0e6;
  height: 900px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.left-side {
  writing-mode: vertical-rl;  
  transform: rotate(-180deg);
  text-align: center;
  grid-column-start: 1;
}

#resumeTitle {
  font-size: 160px;
  padding: 0;
  margin: 0;
}

.right-side {
  grid-column-start: 2;
  padding: 30px;
}

.expandable-list {
  list-style: none;
  height: 500px;
  width: auto;
  color: black;
  padding: 45px 45px;
}

.expandable-list .list-item {
  position: relative;
  margin: 10px 10px;
}

.expandable-list .list-label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.expandable-list .list-label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.expandable-list .list-content {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: auto;
  overflow: hidden;
  transition: 0.5s;
  margin: 0px 10px;
}

.list-content p{
  margin: 0 auto;
  padding-bottom: 20px;
}

.expandable-list .list-item.active .list-content {
  height: auto;
}

.expandable-list .list-item.active .list-label::before {
  content: '-';
  font-size: 30px;
}

#education-content {
  line-height: 0;
}

#education-content ul {
  list-style-type: none;
}

#education-left-list {
  padding: 0;
  grid-column-start: 1;
}

.schools {
  padding-bottom: 20px;
  line-height: 5px;
}

.inline-school {
  display: inline-flex;
}

.year {
  position: absolute;
  right: 0px;
}

.expandable-list hr {
  width: 100;
  margin-left: 0;
  border: 1px solid #000;
}

#contact {
  height: 900px;
  width: 100%;
}

#contactTitle {
  font-size: 160px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.form {
  text-align: left;
  font-size: 30px;
  margin: 0 auto;
  padding: 0;
}

.form textarea, label, input {
  display: block;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.form textarea, input {
  background-color: #faf0e6;
  border: 0;
  border-bottom: 1px solid #000;
  font-size: 18px;
  padding: 10px;
}

input[type=submit] {
  padding: 15px 15px;
  background-color: #000;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  font-size: 30px;
  width: auto;
  font-family: 'Playfair Display', serif;
  border: 0;
  transition: all .3s ease;
}

input[type=submit]:hover {
  background-color: #faf0e6;
  color: #000;
}

input:focus, textarea:focus {
  border: 0;
  outline: #000 1px solid;
}

